extends layout.pug 

block content
    div.mdl-grid
        div.mdl-cell.mdl-cell--12-col 
        div.mdl-cell.mdl-cell--12-col
            if items.length > 0
                each user in users
                    div.mdl-cell.mdl-cell--2-col
                        div.demo-card-square.mdl-card.mdl-shadow--2dp
                            // update? so text field filled-in
                            p #{user.email}
                            // password change by admin etc
                            p #{user.password}
                            // following three: boolean
                            p #{user.perm1}
                            p #{user.perm2}
                            p #{user.perm3}
                            //form : update? 
                            div.card__actions
                              a.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored(href="/geo/"+item.nid) Details
                              if (isAuthenticated)
                                a.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored(href="/edit-geo/"+item.nid+"?edit=true") Edit
                              