extends layout
  
block content
  div#mapid(style="height:100%;z-index:1")
  //- if (isAuthenticated)
  div.leaflet-bottom.leaflet-right(style="pointer-events:auto;")
  script(src="scripts/mp.js")
  script.
    
    const isAuthenticated = !{isAuthenticated}
    
    navigator.geolocation.getCurrentPosition(function(location) {
    let crrntlatlng = new L.LatLng(location.coords.latitude, location.coords.longitude);
    const mymap = L.map("mapid").setView(crrntlatlng, 13);
    // tile layer
    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
                attribution: '.',
                maxZoom: 18,
                id: 'mapbox/streets-v11',
                accessToken: str()
            }).addTo(mymap);
    
    const geojsonfeature = !{items}
    L.geoJSON(geojsonfeature, {      
      pointToLayer: function(feature, latlng){
        return new L.CircleMarker(latlng)
      },
      onEachFeature: function(feature, layer){
        layer.bindPopup('<p>note:'+feature.properties.txt+'</p>'+'<p>created by: '+ feature.properties.email+'</p>'+'<p>public note?: '+feature.properties.public+'</p>')
      },
    }).addTo(mymap)
    const marker = L.marker(crrntlatlng,{
      tap: true
    }).addTo(mymap);

    //- const win = L.control.window(mymap, {title:'ok'}).show()

    const customControl = L.Control.extend({
    options: {
      position: 'bottomright' 
    //control position - allowed: 'topleft', 'topright', 'bottomleft', 'bottomright'
      },
 
    onAdd: function (map) {
        var container = L.DomUtil.create('div', 'leaflet-bar leaflet-control leaflet-control-custom');
    
        container.style.backgroundColor = 'yellow';
        container.style.width = '50px';
        container.style.height = '50px';
        //- let regex = /\(([^\)]+)\)/
        //- let latlong = crrntlatlng.toString()
        //- let latlng = latlong.match(regex)[0].replace(')','')
        //- let ltlng = latlng.replace('(','')
        let latlong = `${crrntlatlng.lng.toString()}, ${crrntlatlng.lat.toString()}`
        container.onclick = function(){
          L.control.window(mymap, {
            content:`
            
            <form action="/mapsubmitnote" method="POST">
              <input type="hidden" name="_csrf" value="!{csrfToken}"></input>
              <input type="hidden" name="latlong" value="${latlong}"></input>
              <div class="mdl-grid" style="justfify-content:center">
                <div class="mdl-cell mdl-cell--5-col">
                  <div class="mdl-textfield">
                    
                    <input class="mdl-textfield__input" type="text" id="note" name="note">
                    <label class="mdl-textfield__label" for="note">Add Geonote..</label>
                  </div>
                </div>
                <div class="mdl-cell mdl-cell--3-col">    
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">submit</button>
                </div>
                <div class="mdl-cell mdl-cell--3-col">
                <input class="mdl-switch__input" type="checkbox" id="switch1" name="switch1"><span class="mdl-switch__label">public?
                </div>
              </div>
            </form>
            
            `
            }).show()
        }
        return container;
      }
    });
    if (isAuthenticated){
      mymap.addControl(new customControl())
    }
    



    })
    
    //- const geobounds = L.geoJSON(geojsonfeature).addTo(mymap)
    //- mymap.fitBounds(geobounds.getBounds())
