//views/layout.pug
html
  head
    title #{title} 
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    //- link(rel='stylesheet', href='https://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css')
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel='stylesheet', href="https://code.getmdl.io/1.3.0/material.teal-cyan.min.css")
    script(src="/css/material.min.js")
    link(rel="stylesheet", href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css",
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==",
   crossorigin="")
    script(src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js",
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==",
   crossorigin="")
    style. 
      .user-message {
        margin: auto;
        width: 90%;
        border: 1px solid #4771fa;
        padding: 0.5rem;
        border-radius: 3px;
        background: #b9c9ff;
        text-align: center;
      }
      .user-message--error {
        border-color: red;
        background: rgb(255, 176, 176);
        color: red;
      }

  body 
    div.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      header.mdl-layout__header
        div.mdl-layout__header-row
          div.mdl-layout-spacer
          nav.mdl-navigation.mdl-layout--large-screen-only
            a.mdl-navigation__link(href="/", ) home
            if(isAdm)
              a.mdl-navigation__link(href="/adm") admin panel
            a.mdl-navigation__link(href="/geo") all notes 
            if (isAuthenticated)
              a.mdl-navigation__link(href="/add-geo") add geonote
            if (!isAuthenticated)
              a.mdl-navigation__link(href="/login") Login
              a.mdl-navigation__link(href="/signup") Sign up

            if(isAuthenticated)
              form.mdl-navigation#logoutid(action="/logout", method="POST")
                input(type="hidden", name="_csrf", value=csrfToken)
                a.mdl-navigation__link(href="javascript:{}", onclick="document.getElementById('logoutid').submit()") Logout
      div.mdl-layout__drawer.mdl-layout--small-screen-only
        div.mdl-navigation
          a.mdl-navigation__link(href="/", ) home
          a.mdl-navigation__link(href="/geo") all notes..'/geo'
          if (isAuthenticated)
            a.mdl-navigation__link(href="/add-geo") add geonote
          if (!isAuthenticated)
            a.mdl-navigation__link(href="/login") Login
            
            a.mdl-navigation__link(href="/signup") Sign up

          if(isAuthenticated)
            form.mdl-navigation#logoutid(action="/logout", method="POST")
              input(type="hidden", value=csrfToken)
              a.mdl-navigation__link(href="javascript:{}", onclick="document.getElementById('logoutid').submit()") Logout
      main.mdl-layout__content
        block content